@tailwind base;
@tailwind components;

.active {
    @apply bg-gray-500 bg-opacity-25 text-blue-700;
}
.turbolinks-progress-bar {
    height: 3px;
    @apply bg-blue-700;
}

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}

@tailwind utilities;

@import '~pikaday/css/pikaday.css';

